@import "tailwindcss";

.spacemono {
  font-family: var(--font-space-mono);
}

.pinyon {
  font-family: var(--font-pinyonScript);
}

.burger{
  color: white;
}

.momo{
  font-family: var(--font-momoTrustDisplay);
}

e-text:nth-child(3) { animation: fadeLoop 6s infinite 4s; }


body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

nav a {
  cursor: pointer;
}


